@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
    --color-background: var(--background);
}

:root {
    --background: oklch(1 0 0);
}

@layer base {
    * {
        border-color: transparent;
        outline: none;
    }

    body {
        background-color: var(--background);
        font-family: var(--font-sans, 'Inter', sans-serif);
    }
}
